@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out; 
}

:root {
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}

a::after{
   content: '';
   position: absolute;
   width: 0;
   height: .2rem;
   margin: auto;
   left: 0;
   right: 0;
   background-color: var(--primary-blue);
}

a:hover::after {
 width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 3rem;
}

.btn {
  font-size: 1.9rem;
  color: #111;
  font-weight: 400;
  border-radius: 2.5rem;
  cursor: pointer;
  padding: 1rem 3rem;
  margin: 0 1rem;
  border: none;
  background-image: linear-gradient(
    45deg,
    var(--primary-purple) 0%,
    var(--primary-blue) 100%
  );
}

.btn::after{
  content: none;
}

.btn:hover {
  color: #fff;
}

.outline{
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  background: transparent;
}

.outline:hover{
  border: 1px solid #fff;
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
